/* 全局sass方法 */
@charset 'utf8';

//文字省略（默认单行省略）
@mixin omit($num:1)
{
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
}