@charset 'utf8';

.container
{
    display: flex;

    height: calc(100vh - #{pxToEm($topHeight)});

    .aside
    {
        width: pxToEm($asideWidth);

        border-right:1px solid rgba(220,222,227,1);

        background-color: #fff;

        overflow-y: auto;
        overflow-x:hidden;

        @include scrollStyle();

        box-shadow: 5px 8px 10px 0px rgba(102,102,102,0.3);

        z-index: 11;
    }

    .section
    {
        flex:1;
    }
}