@charset 'utf8';

@mixin justified
{
    display: flex;
    justify-content: space-between;
}

.layout-2
{
    padding-bottom: 120px;
}
.section
{
    padding:20px 36px;

    .info
    {
        
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color:#666;

        margin:36px 0;

        .name_rank
        {
            @include justified();

            font-size: 28px;
            
            margin-bottom: 22px;

            .name,.rank
            {
                color: #323232;
                font-size: 36px;
                font-weight: 700;
            }
            .rank
            {
                color:#666;
            }
        }

        .variety
        {
            font-size: 24px;

            @include justified();
            
            .left
            {
                display: flex;
                flex-direction: column;
                
                .variety_name
                {
                    margin-bottom: 16px;
                }
            }
            .variety_btn
            {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 214px;
                height: 70px;

                font-size: 28px;
                color:#fff;
                background-color: $act_color;

                margin-top: 10px;

                border-radius: 50px;
            }
        }
        .foot
        {
            font-size: 24px;

            @include justified();

            margin-top: 16px;

        }
        
       
    }

    .desc
    {
        color:#666;
        font-size: 24px;

        line-height: 40px;
        
        padding:28px;

        border:1.1px solid #eee;
        border-radius: 10px;

        word-wrap: break-word;
        word-break: normal;
    }

    .detail
    {
        img
        {
            margin:36px 0;
        }
    }
    
    
}
.join
{
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;

    width: 100%;
    max-width: $max_width;
    height: 120px;
    
    color:#fff;
    font-size: 32px;
    
    text-align: center;

    padding:0 25px;

    z-index:6;

    box-sizing: border-box;
    .text
    {
        flex:1;
        // width: 678px;
        height: 88px;
        line-height: 88px;

        margin:0 20px;

        background-color: $act_color;
        border-radius: 50px;
    }

    .iconfont
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 12%;

        font-size: 30px;

        padding: 10px 0;

        border-radius: 50%;

        span
        {
            font-size: 18px;
        }
    }
}

.disabled
{
    background-color: #C9C9C9 !important;
    // opacity: .3;
}

.popup
{
    position: fixed;
    top: 50%;
    left: 50%;

    width: 612px;
    height: 645px;

    text-align: center;

    padding:30px;

    margin-left: -306px;
    margin-top: -322.5px;

    border-radius: 25px;

    background-color: #fff;
    
    animation-duration: .3s !important;

    z-index: 12;
    
    box-sizing: border-box;
    
    .icon
    {
        text-align: right;
        i
        {
            font-size: 46px;
        }
    }

    .img
    {
        width: 246px;

        margin: 0 auto;
    }

    .title_text
    {
        font-size: 32px;
        font-weight: 700;

        margin:48px 0 24px;
    }

    .text
    {
        font-size: 28px;

        margin-bottom: 48px;
    }

    .btn
    {
        width: 424px;

        font-size: 32px;
        color:#fff;

        margin:0 auto;
        padding:12px 0;

        border-radius: 35px;

        background-color: #0972fa;
    }
}