.top {
  background-color: #fff;
}

.examinePage {
  position: absolute;
  height: 100vh;
  left: 0px;
  right: 0px;
  background-color: #f9f9f9;
}

.examinePageWarp {
  display: flex;
  height: 76px;
}

.examinePageWarp .examine_nav {
  flex: .5;
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.examinePageWarp .examine_nav span {
  display: inline-block;
  color: #898989;
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.examinePageWarp .examine_nav.active span {
  color: #121212;
  border-bottom: 4px solid #519afd;
}

.examinePageCont .examinePageItem {
  width: 706px;
  height: 194px;
  box-sizing: border-box;
  padding: 50px 26px 40px 26px;
  margin: 22px auto 0;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.examinePageCont .examinePageItem .examinePage_top {
  display: flex;
  justify-content: space-between;
}

.examinePageCont .examinePageItem .examinePage_top .examinePage_left {
  display: flex;
}

.examinePageCont .examinePageItem .examinePage_top .examinePage_left .examinePage_tit {
  font-size: 26px;
  color: #000;
  font-weight: bold;
  margin-right: 20px;
}

.examinePageCont .examinePageItem .examinePage_top .examinePage_left .examinePage_status {
  font-size: 22px;
  color: #3182f0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 38px;
  border-radius: 30px;
  background-color: #f3f8ff;
}

.examinePageCont .examinePageItem .examinePage_top .examinePage_left .examinePage_status.success {
  background-color: #f5fff3;
  color: #29b530;
}

.examinePageCont .examinePageItem .examinePage_top .examinePage_left .examinePage_status.error {
  background-color: #fff3f3;
  color: #f03131;
}

.examinePageCont .examinePageItem .examinePage_top .examinePage_detail {
  color: #898989;
}

.examinePageCont .examinePageItem .examinePage_top .examinePage_detail span {
  font-size: 22px;
}

.examinePageCont .examinePageItem .examinePage_top .examinePage_detail i {
  font-size: 18px;
}

.examinePageCont .examinePageItem .examinePage_cont {
  margin-top: 40px;
  font-size: 24px;
  color: #898989;
  width: 490px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
