@charset 'utf8';

.cate{ 
    background:#f5f5f5;
    .header {
        position: relative;
        .header_inner {
            display: block;
            padding-top: 0.32rem;
            .shop_profil {
                padding-left: 1.07rem;
                .logo_img {
                    position: absolute;
                    left: 0.24rem;
                    top: 0.32rem;
                    width: 0.74rem;
                    height: 0.74rem;
                    border-radius: 0.12rem;
                }
                .name {
                    font-size: 0.32rem;
                    font-weight: 500;
                    line-height: 0.3rem;
                }
                .name_none {
                    color: rgba(0, 0, 0, 1);
                }
                .name_bg {
                    color: rgba(255, 255, 255, 1);
                }
                .start_dark {
                    margin-top: 0.04rem;
                    .start {
                        padding: 0.06rem 0.07rem;
                        width: 0.55rem;
                        height: 0.14rem;
                        background: rgba(255, 244, 244, 1);
                        border-radius: 0.05rem;
                        font-size: 0.14rem;
                        font-weight: 400;
                        color: rgba(232, 60, 60, 1);
                        line-height: 0.14rem;
                    }
                    .scope {
                        height: 0.08rem;
                        margin-top: 0.04rem;
                        .scope_num {
                            font-size: 0.18rem;
                            font-weight: 400;
                            color: rgba(161, 161, 161, 1);
                            line-height: 0.14rem;
                            text-shadow: 0 0 0.03rem rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }

            .follow_panel {
                position: absolute;
                right: 0.24rem;
                top: .43rem;
                width: 1rem;
                padding: 0.15rem 0.2rem;
                border-radius: 0.24rem;
                font-size: 0.24rem;
                font-weight: 500;
                line-height: 0.2rem;
                text-align: center;
                &.panel_none {
                    border: 0.01rem solid rgba(252, 97, 55, 1);
                    color: rgba(252, 97, 55, 1);
                }
                &.panel_bg {
                    border: 0.01rem solid rgba(255, 255, 255, 1);
                    color: rgba(255, 255, 255, 1);
                }
                .iconfont {
                    font-size: 0.24rem;
                }
            }
        }
    }
    .content{
        padding: 0 0.2rem;
        margin-top: 0.32rem;
        .search{
            position: relative;
            padding: 0 0.04rem;
            height: .61rem;
            background: rgba(255,255,255,1);
            border: 1px solid rgba(240,240,240,1);
            border-radius: 30px;
            .iconfont{
                position: absolute;
                // left: .25rem;
                top: .1rem;
                font-size: 0.32rem;
                margin-left: 0.24rem;
                color:rgba(137,137,137,1);
            }
            .text{
                height: 0.24rem;
                margin-left: 0.68rem;
                font-size: 0.24rem;
                font-weight: 500;
                color: rgba(137,137,137,1);
                line-height: .61rem;
            }
        }
        .shop_class{
            margin-top: 0.4rem;
            padding-bottom: 58px;
            .all_shop{
                position: relative;
                height: 46px;
                background: #fff;
                border-radius: 13px;
                .line{
                    position: absolute;
                    top: 18px;
                    left: 0.24rem;
                    width: 3px;
                    height: 11px;
                    background: #FF522A;
                }
                .text{
                    height: 0.8px;
                    margin-left: 0.48rem;
                    font-size: 15px;
                    font-weight: 500;
                    color: rgba(51,51,51,1);
                    line-height: 46px;
                }
                .iconfont{
                    position: absolute;
                    right: 0.24rem;
                    color: #898989;
                    font-size: 12px;
                    line-height: 46px;
                }
            }
            .shop_list{
                margin-top: .2rem;
                background: #fff;
                border-radius: 13px;
                .title{
                    position: relative;
                    height: 46px;
                    .line{
                        position: absolute;
                        top: 18px;
                        left: 0.24rem;
                        width: 3px;
                        height: 11px;
                        background: #FF522A;
                    }
                    .text{
                        height: 0.32rem;
                        margin-left: .48rem;
                        font-size: 15px;
                        font-weight: 500;
                        color: rgba(51,51,51,1);
                        line-height: 46px;
                    }
                    .iconfont{
                        position: absolute;
                        right: 0.24rem;
                        color: #898989;
                        font-size: 12px;
                        line-height: 46px;
                    }
                }
                .shop{
                    padding: 0 0.28rem 11px 0.28rem;
                    .list{
                        display: inline-block;
                        margin-bottom: 5px;
                        width: 3.2rem;
                        height: .76rem;
                        background: rgba(246,247,249,1);
                        border-radius: 3px;
                        .name{
                            font-size: 12px;
                            margin-left: .2rem;
                            font-weight: 500;
                            color: rgba(51,51,51,1);
                            line-height: .76rem;
                        }
                    }
                }
            }
        }
    }
    .fix_footer{
        position: fixed;
        z-index: 10;
    }
}